# Casting, Specifying, Converting data type

In [2]:
# Example: Converting data type
integer1 = 5
integer2 = 10
answer = integer_2 / integer_1
#print the variable and its data type.
#use colon (:) as separator
print (integer_1, ":", type(integer1))
print (integer_2, ":", type(integer2))
print (answer, ":", type(answer))

5 : <class 'int'>
10 : <class 'int'>
2.0 : <class 'float'>

In [4]:
# Example: Casting data types
float_result = float ("42")
integer_from_float_result = int(float("3.14"))

#print the variable and its data type
#use colon (:) as seperator
print (float_result, ":", type(float_result))
print (integer_from_float_result, ":", type(integer_from_float_result))

42.0 : <class 'float'>
3 : <class 'int'>

In [5]:
variable_a = 5.67
variable_b = "123"

#perform type casting 
variable_a = float(variable_a)
variable_b = int(variable_b)

#add the variables
result = variable_a + variable_b

print (result, ":" , type(result))

128.67 : <class 'float'>

In [9]:
mixed_variable = "42.42"

#type conversion
float_version = float(mixed_variable)
integer_version = int(float_version)

print (integer_version, ":", type(integer_version))
print (float_version, ":", type(float_version))

42 : <class 'int'>
42.42 : <class 'float'>

In [10]:
total_amount = 42.46
total_amount_in_cents = int(total_amount*100)

print (total_amount_in_cents)

4246

# Strings

In [2]:
# Example: Creating a string variable
single_quotes = 'Creating a string using single quotes'
double_quotes = "Creating a string using double quotes"

# print the variables
print (single_quotes)
print (double_quotes)

Creating a string using single quotes
Creating a string using double quotes

In [3]:
# Example: positive indexing
my_string = "Hello, World!"

# Accessing characters using positive indexing
first_char = my_string[0]
second_char = my_string[1]
last_char = my_string[12]

print("Positive indexing:")
print("First character:", first_char)
print("Second character:", second_char)
print("Last character:", last_char)

Positive indexing:
First character: H
Second character: e
Last character: !

In [4]:
# Example: negative indexing
# Accessing characters using negative indexing
last_char_negative = my_string[-1]
second_last_char = my_string[-2]
first_char_negative = my_string[-13]

print("\nNegative indexing:")
print("Last character:", last_char_negative)
print("Second last character:", second_last_char)
print("First character:", first_char_negative)

Negative indexing:
Last character: !
Second last character: d
First character: H

In [5]:
# Creating a new string by concatenation

original_string = "Hello, World!"
original_string = "hello, world?"

print (original_string)

hello, world?

# Print() function

In [6]:
# basic use of print() function
print ("Hello, world")

Hello, world

In [7]:
# Example: combining strings and variables
name = "Alice"
age = "25"

print ("Name:", name)
print ("Age:", age)

Name: Alice
Age: 25

In [8]:
# Example: printing multiline output
multiline_text = '''this is a multiline string.
It spans multiple lines.
Printed using the print function.'''
print (multiline_text)

this is a multiline string.
It spans multiple lines.
Printed using the print function.