# Casting, Specifying, Converting data type

In [2]:
# Example: Converting data type
integer1 = 5
integer2 = 10
answer = integer_2 / integer_1
#print the variable and its data type.
#use colon (:) as separator
print (integer_1, ":", type(integer1))
print (integer_2, ":", type(integer2))
print (answer, ":", type(answer))

5 : <class 'int'>
10 : <class 'int'>
2.0 : <class 'float'>

In [4]:
# Example: Casting data types
float_result = float ("42")
integer_from_float_result = int(float("3.14"))

#print the variable and its data type
#use colon (:) as seperator
print (float_result, ":", type(float_result))
print (integer_from_float_result, ":", type(integer_from_float_result))

42.0 : <class 'float'>
3 : <class 'int'>

In [5]:
variable_a = 5.67
variable_b = "123"

#perform type casting 
variable_a = float(variable_a)
variable_b = int(variable_b)

#add the variables
result = variable_a + variable_b

print (result, ":" , type(result))

128.67 : <class 'float'>

In [9]:
mixed_variable = "42.42"

#type conversion
float_version = float(mixed_variable)
integer_version = int(float_version)

print (integer_version, ":", type(integer_version))
print (float_version, ":", type(float_version))

42 : <class 'int'>
42.42 : <class 'float'>

In [10]:
total_amount = 42.46
total_amount_in_cents = int(total_amount*100)

print (total_amount_in_cents)

4246

# Strings

In [2]:
# Example: Creating a string variable
single_quotes = 'Creating a string using single quotes'
double_quotes = "Creating a string using double quotes"

# print the variables
print (single_quotes)
print (double_quotes)

Creating a string using single quotes
Creating a string using double quotes

In [3]:
# Example: positive indexing
my_string = "Hello, World!"

# Accessing characters using positive indexing
first_char = my_string[0]
second_char = my_string[1]
last_char = my_string[12]

print("Positive indexing:")
print("First character:", first_char)
print("Second character:", second_char)
print("Last character:", last_char)

Positive indexing:
First character: H
Second character: e
Last character: !

In [4]:
# Example: negative indexing
# Accessing characters using negative indexing
last_char_negative = my_string[-1]
second_last_char = my_string[-2]
first_char_negative = my_string[-13]

print("\nNegative indexing:")
print("Last character:", last_char_negative)
print("Second last character:", second_last_char)
print("First character:", first_char_negative)

Negative indexing:
Last character: !
Second last character: d
First character: H

In [5]:
# Creating a new string by concatenation

original_string = "Hello, World!"
original_string = "hello, world?"

print (original_string)

hello, world?

# Print() function

In [6]:
# basic use of print() function
print ("Hello, world")

Hello, world

In [7]:
# Example: combining strings and variables
name = "Alice"
age = "25"

print ("Name:", name)
print ("Age:", age)

Name: Alice
Age: 25

In [8]:
# Example: printing multiline output
multiline_text = '''this is a multiline string.
It spans multiple lines.
Printed using the print function.'''
print (multiline_text)

this is a multiline string.
It spans multiple lines.
Printed using the print function.

# Special characters

In [10]:
# Example Newline (\n)
print ("Hello, \nworld!")

Hello,
world!

In [11]:
# Example Tab (\t)
print ("Name:\tJohn\nAge:\t25")

Name:	John
Age:	25

In [12]:
# Example Backlash (\\)
print ("This is a backlash: \\")

This is a backlash: \

In [14]:
# Example Single Quote (\')
print ('He said, \'Hello!\'')

He said, 'Hello!'

In [15]:
# Example Double Quote (\")
print ("She  exclaimed, \"Wow!\"")

She  exclaimed, "Wow!"

In [17]:
# Example Carriage return (\r)
print ("Overwrite \rThis text.")

This text.

In [19]:
#Example backspace (\b)
print ("Remove\b This")

Remov This

In [20]:
# Example: alert (\a)

print("This is an alert!\a")

This is an alert!

In [21]:
# Example: octal representation (\ooo)

print("Octal representation: \110")

Octal representation: H

In [23]:
# Example: hexadecimal representation (\xhh)

print("Hexadecimal representation: \x48")

Hexadecimal representation: H

In [24]:
#task 1
challenge_string = "pythonisawesome"
third_char = challenge_string[2]
last_char = challenge_string[-1]
substring = challenge_string[6:11]

print ("Positive indexing, negative indexing, and substring:")
print ("third character:", challenge_string[2])
print ("last character negative:", challenge_string[-1])
print ("substring:", challenge_string[6:11])

Positive indexing, negative indexing, and substring:
third character: t
last character negative: e
substring: isawe

In [26]:
#task 2
#string concatenation
string_1 = "programming"
string_2 = " is fun!"

result = string_1 + string_2
print (result)

programming is fun!

In [29]:
#task 3
# special characters
multiline_string = '''John, Age: 25
This is a multiline string
Name:\tJohn
Age:\t25
This is a backslash: \\
He said, 'Hello!'
She exclaimed, 'Wow!'
Overwrite\rThis text
Remove\b This.
'''
print (multiline_string)

John, Age: 25
This is a multiline string
Name:	John
Age:	25
This is a backslash: \
He said, 'Hello!'
She exclaimed, 'Wow!'
This text
Remov This.

# String manipulation technique

In [32]:
#concatenation
string1 = "Hello"
string2 = "World"
result = string1 + " " + string2
print (result)

Hello World

In [33]:
# Replication
original_string = "Python"
replicated_string = original_string * 3
print (replicated_string)

PythonPythonPython

In [34]:
# slicing : positive indexing
text = "Python is amazing"
substring = text [0:6]
print (substring)

Python

In [37]:
text = "Python is amazing"
substring = text [-7: ]
print (substring)

amazing

In [38]:
#Upper () method
original_string = "Hello world"
Uppercase_string = original_string.upper()
print (Uppercase_string)

HELLO WORLD

In [39]:
#lower () method
original_string = "Hello World"
lowercase_string = original_string. lower()
print (lowercase_string)

hello world

In [43]:
#Capitalize () method
original_string = "hello world"
Capitalize_string = original_string.capitalize()
print (Capitalize_string)

Hello world

In [44]:
# Replace () method
original_text = "Python is a powerful programming language"
modified_text = original_text.replace("Python", "JavaScript")
print (modified_text)

JavaScript is a powerful programming language

In [46]:
Sentence = "Searching for a keyword in this sentence"
index = Sentence. find("keyword")
print (index)

16

In [47]:
#String concatenation
greeting = "Hey"
name = "Alice"
punctuation = "!"

print (greeting+ " " + name + punctuation)

Hey Alice!

In [48]:
pattern = "ABC"
print (pattern*3)

ABCABCABC

In [53]:
#1variables and assign them values of 15 and 7 respectively
a = 15
b = 7
#store the result of their sum, difference, product, and division
result = a+b
result2 = a-b
result3 = a*b
result4 = float (a)/b
print ("sum:", result)
print ("difference:", result2)
print ("product:", result3)
print ("division:", result4)

sum: 22
difference: 8
product: 105
division: 2.142857142857143

In [57]:
#2 create 2 string variables, first_name and last_name, with you first and last names.
first_name = "Amina"
last_name = "Isa"

#Concatenate them to form a full name and assign it to a new variable full_name.
full_name = first_name + " " + last_name

#Print the full name in uppercase
print ("Full name:", full_name.upper())

Full name: AMINA ISA

In [58]:
#3 You have a variable num_of_books storing the number of books you have read this month, but it's currently in the form of a string.
num_of_books = "15"

#Create a new variable books_read by casting num_of_books to an integer. 
books_read = int(num_of_books)

#calculate the average number of books read per week, assuming there are four weeks in a month
weeks_in_a_month = 4
average_books_read_per_month = books_read/weeks_in_a_month

print ("Average books read per month:", average_books_read_per_month)

Average books read per month: 3.75

In [62]:
#4 We have been given the following information about a person:
#Name: John Doe
#Age: 25
#Height: 1.75 metres
#Weight: 68.5 kilograms
#Create variables of appropriate data types to store this information.
Name = str("John Doe")
Age = int(25)
Height = float(1.75) #in meters
Weight = float(68.5) #in kilograms

#Then calculate the Body Mass Index (BMI) using the formula:
#BMI={Weight}/{Height}2
BMI = Weight/Height*2

print ("Name:", Name)
print ("Age:", Age)
print ("Height:", Height)
print ("Weight:", Weight)
print ("BMI:", BMI)

Name: John Doe
Age: 25
Height: 1.75
Weight: 68.5
BMI: 78.28571428571429

# Comprehensive Exercise

In [72]:
# Given the variables
product_name = str("Widget XYZ")
initial_quantity = int(100)
price_per_unit = float(12.50)
discount_percentage = float(0.15)

# Calculate the total value of the initial stock
Total_value_of_initial_quantity = initial_quantity * price_per_unit

#Apply discount and calculate the discounted price
Discount = Total_value_of_initial_quantity - (Total_value_of_initial_quantity * discount_percentage)

#Update quantity based on new shipment
new_shipment = int(30)
updated_quantity = initial_quantity + new_shipment

#print result
print ("Product name:", product_name)
print ("Initial quantity:", initial_quantity)
print ("Price per unit: $", price_per_unit)
print ("Total value of initial quantity:", Total_value_of_initial_quantity)
print ("Discount percentage:", Discount*100,"%")
print ("updated quantity:", updated_quantity)

print ("\n--- Results ---")
print ("Total value of initial quantity: $", Total_value_of_initial_quantity)
print ("Updated quantity in stock:", updated_quantity)
print ("Discounted value: $", Discount)

Product name: Widget XYZ
Initial quantity: 100
Price per unit: $ 12.5
Total value of initial quantity: 1250.0
Discount percentage: 106250.0 %
updated quantity: 130

--- Results ---
Total value of initial quantity: $ 1250.0
Updated quantity in stock: 130
Discounted value: $ 1062.5